@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://use.typekit.net/mpa1wkh.css");

html, body {
  font-family: 'acumin-pro', sans-serif, serif;
  color: rgb(75,75,75);
}

.component-selected  {
  @apply relative;
}
.component-selected::after {
  content: " ";
  @apply border-primary border border-dashed w-full h-full absolute left-0 top-0 pointer-events-none block;
}

.transition {
  transition:0.4s cubic-bezier(0.19, 1, 0.22, 1);
}