node_modules
.cache
*-cache
out
*-*.log
.now
.vscode
.idea
build

.DS_Store
cypress/videos/*
cypress/screenshots/*

.yarn/*
!.yarn/patches
!.yarn/releases
!.yarn/plugins
!.yarn/sdks
!.yarn/versions
.pnp.*