
*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-size: 100%;
}

.inspector {
  margin-left: 400px;
}

.inspector pre {
  font-family: Menlo;
  font-size: 13px;
}

.m-node.placeholder {
  /* border: 1px dashed #1385e5; */
}

.m-node .inner {
  color: #9da5b4;
  font-size: 12px;
  font-family: Menlo;
}

.m-node.droppable {
  background: yellow;
}

.m-node .node {
  display: inline-block;
  width: 100%;
  padding: 4px 5px;
}

.m-node .node.is-active {
  background-color: #31363f;
}

.f-no-select {
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.m-tree {
  position: relative;
  overflow: hidden;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.m-draggable {
  position: absolute;
  opacity: 0.8;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.m-node.placeholder > * {
  /* visibility: hidden; */
}

.m-node.placeholder {
  /* border: 1px dashed #ccc; */
}

.m-node .inner {
  position: relative;
  cursor: pointer;
  padding-left: 10px;
}

.m-node .collapse {
  position: absolute;
  left: 0;
  cursor: pointer;
}

.m-node .caret-right:before {
  content: "\25B8";
}

.m-node .caret-down:before {
  content: "\25BE";
}

.m-node {
  float: left;
  width: 100%;
  cursor: move;
}
.row {
  float: left;
  width: 100%;
  padding: 10px 0;
}

body,
html,
* {
  font-family: Graphik;
}

.droppable {
  padding: 10px 20px 40px;
  float: left;
  width: 100%;
  background: rgb(255, 0, 0);
}
